body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color:white
}
nav {
  background-color:black;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top:0;
 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
li {
  margin-left: 15px; 
}
a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: #ffcc00;
}
.Title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subtitles{
  display:flex;
  justify-content: center;
  gap: 20px;
  
}
.shop-wishlist{
  margin-top: 30px;
  margin-left: 2rem;
}
.logo img{
  height: 55px;
  width:100px;
}
.logo{
  margin-right: 45rem;
}
.icon img{
  height: 35px;
  width: 75px;
}
.icon{
  margin-left: 2rem;
}
.Title img{
  height: 100px;
  width:170px;
}
.cards{
  margin-block: 20px;
  margin-inline: 30px;
}
.cards img{
  height:400px;
  width: 240px;
}
.cards{
  display: flex;
  flex-direction: row;
  gap: 5rem;
  flex-wrap: wrap;
}
.footer{
  display: flex;
  margin-block: 5rem;
  margin-inline: 30px;
  justify-content: space-between;
}
.footer-logo{
  display: flex;
  flex-direction: column;
  gap:30px;
}
